header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("https://www.apple.com/v/home/cl/images/heroes/ipad-air/hero_ipad_air_avail__c34ycq52exg2_large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}